html, body, #map {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#map {
    width: 100%;
    height: 100vh;
}

#lblOptions {
    background-color: blue;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
}

table {
    width: 100%;
    margin-bottom: 10px;
}

td {
    padding-bottom: 5px;
    padding-top: 5px;
}

* {
    box-sizing: border-box;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    top: 23px;
    right: 28px;
    width: 310px;
}

.open-button-details {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 310px;
}

/* The popup form - hidden by default */
.form-popup {
    position: fixed;
    right: 15px;
    top: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.form-popup-details {
    position: fixed;
    right: 15px;
    bottom: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    width: 330px;
}

/* Add styles to the form container */
.form-container {
    max-width: 330px;
    padding: 10px;
    background-color: white;
}

.form-option {
    max-width: 330px;
    background-color: cornflowerblue;
    margin-bottom: 10px;
}

.row {
    display: flex;
    padding-bottom: 10px;
    padding-left: 20px;
}

.column {
    width: 50%;
}

    /* Full-width input fields */
    .form-container input[type=text], .form-container input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }

        /* When the inputs get focus, do something */
        .form-container input[type=text]:focus, .form-container input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

    /* Set a style for the submit/login button */
    .form-container .btn {
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
        opacity: 0.8;
    }

    /* Add a red background color to the cancel button */
    .form-container .cancel {
        background-color: red;
    }

    .form-container .option {
        background-color: blue;
    }

    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
        opacity: 1;
    }

    .form-container .btn:disabled {
        background-color: #cccccc;
        color: #666666;
    }
