html, body, #map {
    padding: 0;
    margin: 0;
    border: none;
}

#map {
    width: 100%;
    height: 100vh;
}

#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    top: 0px;
    left: 0px;
}

#loading-gif {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin-left: -240px;
    margin-top: -60px;
}

.open-button {
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 360px;
    height: 90px;
}

    .open-button span {
        padding-left: 5px;
        padding-top: 10px;
    }

.menu {
    width: 30px;
    height: 5px;
    background: white;
    margin: 6px 0;
}

.form-popup {
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 9;
    width: auto;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

    -webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    -webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }

    -webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }

.name {
    background: #4D4D4D;
    color: darkgray;
    text-transform: uppercase;
    padding: 16px 10px;
    font-size: 20px;
    margin: 0px;
    display: flex;
    text-align: center;
}

    .name button {
        background: #4D4D4D;
    }

.route {
    background-color: dimgray;
    color: white;
    text-transform: uppercase;
    border: none;
    display: flex;
    padding-bottom: 5px;
    position: sticky;
}

.route button {
    padding-top: 10px;
}

.labelRoute {
    margin-left: auto;
    margin-right: auto;
    background: dimgray;
    border: none;
    font-size: 18px;
}

    .labelRoute:disabled {
        color: dimgray
    }

.coordinates {
    display: flex;
    padding: 5px;
}

.coordinates-text {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.image {
    display: block;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 10px;
    cursor: pointer;
}

table {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 10px;
}

td {
    padding-bottom: 5px;
    padding-top: 5px;
}

#lblOptions {
    background-color: dimgray;
    color: white;
    padding: 16px 10px;
    border: none;
    width: 100%;
    opacity: 0.8;
}

.form-option {
    display: block;
    background-color: darkgray;
    margin-bottom: auto;
}

.option {
    padding-left: 10px;
}

.row {
    display: flex;
    padding-bottom: 10px;
    padding-left: 20px;
}

.column {
    width: 50%;
}

#k {
    width: 150px;
    height: 30px;
    margin-top: 2px;
}

#pocet-tras {
    display: block;
    padding-top: 10px;
}

/* Add styles to the form container */
.form-container {
    max-width: 360px;
    background-color: white;
    box-sizing: border-box;
}

.form-container input[type="text"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    height: 45px;
}

    /* Set a style for the submit/login button */
    .form-container .btn {
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-top: auto;
        margin-bottom: 10px;
        opacity: 0.8;
    }

    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
        opacity: 1;
    }

    .form-container .btn:disabled {
        background-color: #cccccc;
        color: #666666; 
        cursor: default;
    }

.interactive {
    font-weight: normal;
    padding-left: 5px;
}

#select {
    width: 200px;
}
